.card-body {
  border-radius: 7px;
  background: #ececec;
  box-shadow: 5px 5px 9px #b8b8b8, -5px -5px 9px #ffffff;
}

.btn-success {
  cursor: pointer;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 15px;
  border: none;
  margin: 0 5px;
  font-size: 14px;
  font-family: 'Poppins-SemiBold', Helvetica, Arial, sans-serif;
  background-image: radial-gradient(
    circle at -20.71% 50%,
    #ebe273 0,
    #eed560 16.67%,
    #f1c64e 33.33%,
    #f2b53c 50%,
    #f3a42c 66.67%,
    #f69221 83.33%,
    #f8801d 100%
  );
  /* background-image: linear-gradient(130deg, #6ac7b7 0%, #00af91 70%); */
}
