.products {
  background: #ececec;
  box-shadow: 5px 5px 9px #b8b8b8, -5px -5px 9px #ffffff;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .products {
    height: 100%;
    margin: 50px auto;
    width: 50%;
  }
}
