.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-Navbar-Bottom {
  background-image: linear-gradient(130deg, #ff9259 -51%, #ff2426 42%);
  box-shadow: 5px 5px 9px #b8b8b8, -5px -5px 9px #ffffff;
}

.App-Navbar-Top {
  height: 55px;
  justify-content: center;
  background-image: linear-gradient(130deg, #ff9259 0%, #ff2426 70%);
  box-shadow: 5px 5px 9px #b8b8b8, -5px -5px 9px #ffffff;
}
