@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222326;
  font-weight: normal;
}

code {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 20px;
  color: #ff0000;
}

h2 {
  font-size: 30px;
  margin: 20px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 20px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222326;
}

label {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-right: 5px;
}

button {
  background-color: #0cc665;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #222326;
  color: #0cc665;
}

input {
  padding: 5px 10px;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.join-list {
  background-color: #0cc665;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.join-list:hover {
  background-color: #222326;
  color: #0cc665;
}

.checkbox {
  margin-right: 10px;
}

.filter-container {
  width: 20%;
}
