@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@600&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

h2 {
  margin-top: 2rem;
}

.main-title {
  height: 55px;
  justify-content: center;
  background-image: linear-gradient(130deg, #ff9259 0%, #ff2426 70%);
  box-shadow: 5px 5px 9px #b8b8b8, -5px -5px 9px #ffffff;
}
