.nav-item {
  border-radius: 0;
}

.nav-item-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-icon {
  font-size: 1.6em;
  margin-top: -9px;
  padding-right: 5px;
}

.nav-link {
  color: white;
}

.nav-link.selected {
  background-color: black;
  font-weight: 700;
}

.nav-link:hover {
  color: white;
}
