a {
  font-weight: normal;
}

a:visited,
a:active,
a:link {
  font-weight: normal;
}

a.selected {
  font-weight: bold;
}

.navigator {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: auto;
}

.navigator ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigator ul li {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
