.label--soon,
.label--kind-soon,
.label--not-soon,
.label--inactive {
  position: relative;
}

.label--soon::before,
.label--kind-soon::before,
.label--not-soon::before,
.label--inactive::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.label--soon::before,
.fa-running::before {
  color: #00af91;
}

.label--kind-soon::before,
.fa-hourglass-half::before {
  color: #ff4301;
}

.label--not-soon::before,
.fa-spa::before {
  color: #cd0a0a;
}

.label--inactive::before,
.fa-bell-slash::before {
  color: gray;
}

.checkbox-main {
  margin: 0 15px;
  transform: scale(2);
}

.bi-trash {
  color: grey;
}

.bi-trash:hover {
  color: #000;
}
