.checkbox {
  margin: 0 15px;
  transform: scale(2);
}

.btn-delete-item {
  background-color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: rgb(68, 65, 65);
  margin-left: 10px;
  padding: 10px;
}

.btn-delete-item:hover {
  background-color: #fa341a;
  color: white;
}

.icon-soon {
  color: #01c22b;
}

.icon-kind-soon {
  color: #ff4301;
}

.icon-not-soon {
  color: #cd0a0a;
}

.icon-inactive {
  color: rgb(82, 78, 78);
}
